.left-container {
  height: 100%;
  padding-top: 200px;
  border-right: 1px solid blue;
}

.todo-container {
  position: relative;
  width: 280px;
  margin: 50px auto 0;
}

.todo-input {
  width: 200px;
  margin-right: 10px;
}

.left-tag {
  position: absolute;
  left: 12px;
  top: 5px;
}
